*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

body{
    background-image: url('bg.jpeg');
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.taskbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 100;
}

.time{
    position: absolute;
    right: 0;
}

.start{
    position: absolute;
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}

.start img{
    border-radius: 8px;
}

.divicons {
    height: 90%;
    width: 10%;
    display: inline-block;
    color: #fff;
}
.figureicons {
    height: 50%;
    width: 70%;
    margin-left: 5px;
    align-items: center;
}
.iconsimage {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    padding-left: 15px;
    display: inline-block;
}

.iconname {

    padding-left: 7px;
}
.edge{
    padding-left: 13px;
}