.resizable{
  background-color: #dee2e6;
  width: 900px;
  height: 500px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 8px;
}
#pos{
  position: absolute;
  top: 100px;
  left: 400px;
}
.name{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.frame{
  width: 100%;
  height: 95%;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
.frame iframe{
  width: 100%;
  height: 100%;
}
.name img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.name h6{
  margin-bottom: 0;
  margin-left: 10px;
}

.titlebar{
  display: flex;
  justify-content: space-between;
}
.close{
  width: 30px;
  height: 30px;
  margin-top: 7.5px;
  margin-right: 7.5px;
}

body{
  background: url("bg_light.jpg");
  background-size: cover;
  overflow: hidden;
}